@import '/src/app/breakpoints';
@import '/src/app/theme.scss';

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: $md;
  padding-top: 8rem;
  padding-bottom: 8rem;
  gap: 4rem;
  width: 100%;

  section {
    width: 100%;
    padding: 1rem;
  }
}


.education {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}


.educationContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  padding: 0rem 1rem;
}
