@import '/src/app/_shared.scss';

.root {
  @include flex(column);
  width: 100%;
}

.projectRow {
  @include flex(row);
  width: 100%;
  padding: 1rem;
}

.socialMediaIcons {
  @include flex(row);
  gap: 1rem;
}

.project {
  @include flex(row);
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: $hover-background-color;
    svg {
      transform: translateX(0.3rem);
    }
    &:after {
      background-color: #f5f5f500; 
      transition: background-color 0.3s ease;
    }
  }
  svg {
    transform: translateX(0rem);
    transition: transform 0.3s ease;
  }
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 1rem; 
    width: calc(100% - 2rem); 
    height: 1px; 
    background-color: #f5f5f50a; 
    border-radius: 0; 
  }
  p {
    font-size: 0.9rem;
  }
}

.projectInfo {
  @include flex(column);
  width: 95%;
}
