@import '/src/app/breakpoints';
@import '/src/app/theme.scss';

.educationContainer {
  display: flex;
  flex-direction: column;
  padding-bottom: 1.5rem;
  padding-left: 1rem;

  h2 {
    padding-bottom: 0.25rem;
  }
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}