@import '/src/app/_shared.scss';

.root {
  @include flex(column);
  align-items: center;
  max-width: $md;
  padding-top: 8rem;
  padding-bottom: 8rem;
  gap: 4rem;

  section {
    width: 100%;
    padding: 1rem;
  }
}

.about {
  @include container;
  gap: 2rem;
}

.title {
  @include flex(column);
  align-items: flex-start;
}

.introduction {
  @include container;
  gap: 2rem;
  padding: 0rem 1rem;
}

.experience, .education, .connect, .projects {
  @include container;
  gap: 2rem;
}


.latestExperienceContainer, .educationContainer, .connectContainer {
  justify-content: flex-start;
  @include container;
  gap: 1rem;
  padding: 0rem 1rem;
}

.linkHover:hover {
  transition: all 0.3s ease;
  color: $foreground-color1;
}

.socialMediaIcons {
  @include flex;
  gap: 1rem;
}