@import '/src/app/_shared.scss';

.linkHover:hover {
  transition: all 0.3s ease;
  color: $foreground-color1;
}

.experience {
  @include container;
  gap: 5rem;
}

.experienceContainer {
  @include container;
  gap: 2rem;
  padding: 0 1rem;
}

.experienceKeypoints {
  @include flex(column);
  width: 100%;
  gap: 0.5rem;
}