@import '/src/app/theme.scss';
@import '/src/app/breakpoints.scss';

.root {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  justify-content: center;
  padding: 2rem 2rem;
  background: linear-gradient(to bottom, $background-color, $background-color 35%, rgba(24,24,27,0.5));
  backdrop-filter: blur(0.25rem);
}


.linksContainer {
  display: flex;
  max-width: $md;
  width: 100%;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  a {
    border-radius: 0.5rem;
    padding: 0.5rem;
    transition: all 0.3s ease;
    &:hover {
      background-color: $hover-background-color;
      color: $foreground-color1;
    }
  }
}

@media (max-width: $xs) {
  .root {
    padding: 2rem 1rem;
  }
  .linksContainer {
    a {
      padding: 0rem;
      &:hover {
        background-color: $background-color;
        color: $foreground-color1;
      }
    }
  }
}