@import '/src/app/theme.scss';
@import '/src/app/breakpoints.scss';

.root {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  background-color: $background-color;
  padding: 2rem 1rem;
}

.footerContainer {
  display: flex;
  max-width: $md;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  font-size: 0.9rem;
  padding-left: 2rem;
}